<div id="mpinManagerView" class="mpin-manager">
  <div class="mpin-bg">
  </div>
  <div id="mpinBlockView" class="mpin-block mpin-hide">
  </div>
  <div id="mpinLoadingView" class="mpin-loading mpin-hide">
    <div class="mpin-loader">
      <div class="spinner">
        <div id="mpin-spinner-dot1" class="dot1"></div>
        <div id="mpin-spinner-dot2" class="dot2"></div>
      </div>
    </div>
  </div>

  <div id="mpinWrapper" class="mpin-wrapper">
    <div class="mpin-modal">
      <div id="mpinToolbar" class="mpin-toolbar">
        <div class="mpin-tool">
          <div class="mpin-close"></div>
        </div>
        <div class="mpin-title">
        </div>
      </div>
      <div id="mpinContents" class="mpin-contents">
      </div>
    </div>
  </div>


  <div id="mpinWrapperVirtual" class="mpin-wrapper virtual">
    <div class="mpin-modal virtual">
      <div id="mpinToolbarVirtual" class="mpin-toolbar virtual">
        <div class="mpin-tool virtual">
          <div id="mpinManagerBack" class="left mpin-hide mpin-back">
            <img id="mpinManagerBackImage" src="{{ image_base_url }}/back.png">
          </div>
          <div id="mpinManagerClose" class="mpin-close virtual">
            <img id="mpinManagerCloseImage" src="{{ image_base_url }}/close.png">
          </div>
        </div>
        <div id="mpinManagerTitle" class="mpin-title virtual">
        </div>
      </div>
      <div id="mpinContentsVirtual" class="mpin-contents virtual mpin-overflow-x-hidden">
      </div>
    </div>
  </div>

</div>
