<div id="mpinMobileLoginView" class="mpin-content-view">

  <div class="mpin-ui">
    <div class="mpin-canvas">
      <canvas id="mpinMobileLoginTimeCircle" class="mpin-time-circle" id="cv2" width="200" height="200"></canvas>
      <div class="mpin-time-display">
        <span id="mpinMobileLoginTimeNumber" class="number">{{mobile_login_time_number_default}}</span>
      </div>
    </div>
  </div>

  <div class="mpin-ui login-view">
    <div class="mpin-text">
      <span class="small">
        {{mobile_login_acccess_number}}
      </span><br>
      <span id="mpinMobileLoginAccessNumber" class="large">
        {{mobile_login_access_number_default}}
      </span>
    </div>
  </div>
  <div class="mpin-ui error-view">
    <div id="mpinMobileLoginErrorMessage" class="mpin-error-message mpin-message-center mpin-hide">
    </div>
  </div>


</div>

